.contact {
  display: flex;
  flex-direction: row;
  /* margin: 6rem 1rem; */
  padding: 1.5rem;
  /* border-radius: 5px; */
  /* background-color: var(--secondary-bg-color); */
  background:linear-gradient(to right, var(--bg-color), var(--bg2-color) );
  justify-content: center;
  align-items: center;
  min-height:100vh;
  /* box-shadow: 5px 15px 10px var(--text-color); */
  /* border: 1px solid var(--sub-heading-color); */
}
.contact .contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 50%;
  max-height: 50%;
  height: auto;
  text-align: start;
  row-gap: 5px;
  background: transparent;
  /* background-color: var(--secondary-bg-color); */
  /* background:linear-gradient(to right, var(--bg-color), var(--bg2-color) ); */
  /* color: var(--text-color); */
}
.contact .contactinfo h1,
.contact .contactinfo p {
  padding: 5px 0px;
}
.contact .contactform {
  max-width: 50%;
  /* position: relative; */
  /* left: 1px; */
  max-height: 50%;
  margin-right: 10px;
  border-radius: 5px;
  /* box-shadow: 10px 10px 5px brown; */
}

.contact .form {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 1.5em 2.5em;
  /* background-color: rgb(226, 183, 252); */
  background: linear-gradient(to right, var(--bg-color), var(--bg2-color));
  /* height: 420px; */
  height: auto;
  width: 307px;
  border-radius: 5px;
}
.contact textarea {
  width: 100%;
}
.contact .form button {
  background-color: var(--button-color);
  border-radius: 5px;
  border-style: none;
  margin-top: 3px;
  padding: .7em 1em;
  align-content: center;
  color: white;
  max-height: 200px;
  width: 103%;
  font-size:large;
  font-weight: bold;
}
.contact .form button:hover {
  background-color: var( --button-hover-color);
  color: rgb(240, 231, 219);
  cursor: pointer;
}
.contact .form #name,
.contact .form #email,
.contact .form #subject {
  padding: 3px 5px;
  margin: 3px 0px 10px 0px;
  height: 38px;
  border-radius: 5px;
  border-style: none;
  border: 0px;
  width: 100%;
}
.contact .form #message {
  padding:5px;
  border-radius: 5px;
  max-width: 100%;
  border-style: none;
  margin-top: 3px;
}
@media only screen and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    /* margin: 15px; */
    /* max-width: 30rem; */
    /* padding: .5rem ; */
  }
  /* .contact .contactform {
        max-width: 1rem;
    } */
  .contact .contactform {
    max-width: 100%;
  }
}
@media only screen and (max-width:360px) {
   .contact .form{
   /* max-width:2rem; */
   /* margin: ; */
   /* width: 10rem; */
   width: 16.5rem;
   padding-bottom: 1.5rem;
   }
   .contact .form #message{
    max-width: 16rem;
   }
   .contact{
   padding: .1rem 0rem 1.5rem 0rem ;
   }
   .contact .contactinfo {
    max-width: 16rem;
   }
}