.contact {
  display: flex;
  flex-direction: row;
  margin: 6rem 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  align-items: center;
  box-shadow: 5px 15px 10px var(--text-color);
  /* border: 1px solid var(--sub-heading-color); */
}
.contact .contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 50%;
  max-height: 50%;
  height: auto;
  text-align: start;
  row-gap: 5px;
  background-color: var(--secondary-bg-color);
  /* color: var(--text-color); */
}
.contact .contactinfo h1,
.contact .contactinfo p {
  padding: 5px 0px;
}
.contact .contactform {
  max-width: 50%;
  /* position: relative; */
  /* left: 1px; */
  max-height: 50%;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px brown;
}

.contact .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 5px 20px 5px 20px;
  background-color: rgb(226, 183, 252);
  height: 420px;
  width: 307px;
  border-radius: 5px;
}
.contact textarea {
  width: 100%;
}
.contact .form button {
  background-color: rgb(110, 17, 103);
  border-radius: 2px;
  border-style: none;
  margin-top: 3px;
  padding: 2px 10px 2px 10px;
  align-content: center;
  color: white;
  max-height: 200px;
  max-width: 100%;
}
.contact .form button:hover {
  background-color: rgb(221, 51, 184);
  color: rgb(240, 231, 219);
}
.contact .form #name,
.contact .form #email,
.contact .form #subject {
  padding: 2px 1px;
  margin: 6px 0px;
  height: 38px;
  border-radius: 1px;
  border-style: none;
  border: 0px;
}
.contact .form #message {
  padding: 1px;
  border-radius: 2px;
  max-width: 80%;
}
@media only screen and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin: 15px;
    /* max-width: 30rem; */
    /* padding: .5rem ; */
  }
  /* .contact .contactform {
        max-width: 1rem;
    } */
  .contact .contactform {
    max-width: 100%;
  }
}
@media only screen and (max-width:360px) {
   .contact .form{
   /* max-width:2rem; */
   /* margin: ; */
   /* width: 10rem; */
   width: 16.5rem;
   padding-bottom: 1.5rem;
   }
   .contact .form #message{
    max-width: 16rem;
   }
   .contact{
   padding: .1rem 0rem 1.5rem 0rem ;
   }
   .contact .contactinfo {
    max-width: 16rem;
   }
}