.footer{
    position:inherit;
    z-index: 1;
    bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    font-size: large;
    background-color: var(--footer-color);
}