.footer{
    /* position:relative;
    z-index: 1;
    bottom: 0; */
    margin-top: auto; /* for fixing footer to 
    attach bottom always, bu this code it will take as much as possible margin from top of content*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    font-size: large;
    background-color: var(--footer-color);
    /* background-color: black; */
    width: 100vw;
}
.footer .social-link a {
    color: var(--icon-color);
  }
.footer .social-link ul{
    list-style: none;
    display:flex;
    gap:10px;
}
.footer .social-link{
    /* margin-left: 100px; */
    background-color: var(--footer-color);
}
.ftr-contact .contact-el {
    font-weight: bold;
}
  .ftr-contact{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-around;
    gap:15em;
    /* width: 100vw;  */
    /* This line code solved the working of justify content 
    as it is not working width:auto or 100%*/
    /* width: 100%; */
    padding: 25px;
    background-color: var(--footer-color);
    color: var(--text-color);
    /* flex-direction: column; */
  }
  @media only screen and (max-width:768px) {
    .ftr-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
  }