.introduction{
    display: flex;
    margin: 2rem 8rem;
    
}
.introduction .profile .pradeep-profile{
    max-width:22rem;
    border-bottom: double 10px white;
    border-right: double 10px white;
}
.introduction h3{
    color: yellow;
    font-size:larger;
    margin-bottom: 2rem;
}
.introduction h1{
    padding-bottom: 2rem;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.introduction p{
    font-size: large;
    color: white;
    padding-bottom: 1em;
}
div .message-me{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    max-width: 20rem;
    padding-top: 2px;
}
.message-me p{
    font-size:x-large;
    
}
.about .social-icons{
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.about .social-icons img{
    max-width: 2.3rem;
    max-height: 2.3rem;
}
@media only screen and (max-width:768px){
    .introduction{
        display: flex;
        flex-direction: column-reverse;

    }
    .introduction .about h3{
        text-align: center;
    }
}