.home{
    position: inherit;
    top: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction{
    display: flex;
    margin: 2rem 8rem;
    
}
.introduction .profile .pradeep-profile{
    max-width:22rem;
    filter: drop-shadow(20px 5px 5px  var(--text-color));
    /* border-bottom: double 10px var(--text-color); */
    /* border-right: double 10px var(--text-color); */
}
.introduction h3{
    color:var(--sub-heading-color);
    font-size:larger;
    margin-bottom: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.introduction h1{
    padding-bottom: 2rem;
    /* color:white; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.introduction p{
    font-size: large;
    /* color: white; */
    padding-bottom: 1em;
    font-family:sans-serif;
}
   .message-me{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    max-width: 25rem;
    /* padding-top: 2px; */
}
.message-me p{
    font-size:x-large;
    /* vertical-align: bottom; */
    padding-top: 1.5rem;
    cursor: default;
    font-weight: bolder;
    
}
.about .social-icons{
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.about .social-icons .arrow, .linkedin, .web, .email{
    color: var(--icon-color);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s;
}
.about .social-icons .arrow{
    padding-top: 5px;
}
.home .message-me .linkedin:hover, .home .web:hover, .home .email:hover{
    transform: scale(1.5);
}
@media only screen and (max-width:768px){
    .introduction{
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem 1rem;
        /* margin: auto; */
        justify-content: center;
        align-items: center;


    }
    .introduction .about h3{
        text-align: center;
    }
}