.introduction{
    display: flex;
    margin: 2rem 8rem;
    
}
.introduction .profile .pradeep-profile{
    max-width:22rem;
    border-bottom: double 10px white;
    border-right: double 10px white;
}
.introduction h3{
    color: yellow;
    font-size:larger;
}
.introduction h1{
    padding-bottom: 2rem;
    color: white;
}
.introduction p{
    font-size: large;
    color: white;
}
div .message-me{
    padding: 10px;

    border: 1px solid ;
}
@media only screen and (max-width:768px){
    .introduction{
        display: flex;
        flex-direction: column-reverse;

    }
    .introduction .about h3{
        text-align: center;
    }
}