.MyJourney {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: flex-start; */
    margin: auto;
    padding: 1rem .1rem;
    /* text-align:left; */
}
.jdetail, .jlogo {
  padding-left: 1rem;
}
.jdetail h4, 
.jdetail p {
  text-align: left;
}