.MyJourney {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  width: fit-content;
  max-width: 100%;
    margin: 0;
    padding: 1rem .1rem;
}
.jdetail, .jlogo {
  padding-left: 1rem;
}

.jlogo {
  flex: 0 0 5rem;
}

.jdetail {
  min-width: 0;
}
.jdetail h4, 
.jdetail p {
  text-align: left;
}