.MyJourney {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    margin: auto;
    padding: 1rem .1rem;
}
.jdetail, .jlogo {
  padding-left: 1rem;
}