.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav .menu-link ul, .social-link ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor:pointer;
    justify-content:space-evenly;
    gap: 1rem;
    color: white;
}
.nav .logo{
    color: rgb(224, 244, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav .logo h2 span {
    font-size:150%;
    margin-right: 0px;
    color: white;
}
.nav .mobile-menu-link{
    display: none;
}
@media only screen and (max-width:768px){
    .menu-link, .social-link{
        display: none;
    }
    .nav .mobile-menu-link{
        display: block;
        color: white;
        font-size: xxx-large;
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
} 
@media only screen and (min-width:768px){
    
}