.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav .menu-link ul,
.social-link ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
  justify-content: space-evenly;
  gap: 1rem;
  color: white;
}
/* .nav .menu-link .home{
  color: white;
} */
.nav .social-link a {
  color: white;
}
.nav .logo {
  color: rgb(224, 244, 247);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.nav .logo h2 span {
  font-size: 150%;
  margin-right: 0px;
  color: white;
}
.nav .mobile-menu {
  display: none;
}
.nav .mobile-menu .activate-cross,
.nav .mobile-menu .activate-mobileNavbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  .menu-link,
  .social-link {
    display: none;
  }
  .nav .mobile-menu {
    display: block;
    color: white;
    font-size: xxx-large;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav .mobile-menu .deactivate-hamburgerMenu {
    display: none;
  }
  .nav .mobile-menu .cross
  {
    /* background-color: rgb(255, 255, 255); */
    text-align:center;
    margin: 0px;
    padding:0px 0px;
    /* border: 1px solid black; */
    
  }
  .nav .mobile-menu .crossStyle{
    /* background-color: white; */
    /* color: black; */
    padding: 0px;
    margin: 0px;
    /* height: 3.4rem; */
  }
  .nav .mobile-menu .mobileMenuStyle{
    margin: 0px;
    padding-top: 0px;
  }
  .nav .mobile-menu .mobileMenuStyle li{
    font-size:1.8rem;
    padding: 0.8rem 2.7rem ;
    background-color: rgb(252, 254, 255);
    color: rgb(0, 0, 0);
    width: 10rem;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    border-width: 0px;
    list-style: none;
  }
  /* .nav .menu-link .home{
    color: white;
  } */
}
@media only screen and (min-width: 768px) {
}
