/* :root{
  --background-color:white;
  --text-color:black;
}
.mode{
  --background-color: var(--text-color);
  --text-color:var(--background-color);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
} */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  /* margin: auto; */
  top: 0px;
  /* padding-top: 10px; */
  /* padding-bottom: 0px; */
  /* padding:0px 0px 0px 0px; */
}
.nav .menu-link ul,
.social-link ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
  justify-content: space-evenly;
  gap: 1rem;
  color:var(--icon-color);
  padding-top: 10px;
  font-size: larger;
}
/* .nav .menu-link .home{
  color: white;
} */
.nav .social-link a {
  color: var(--icon-color);
}
.nav .lightMode, .nav .darkMode{
  color:var(--icon-color);
  height: 35px;
  width: 35px;
  padding-top: 5px;
  cursor: pointer;
}
/* .lightMode, .darkMode{
  color: white;
} */
.nav .menu-link a{
  text-decoration: none;
  color: var(--icon-color);
}
.nav .logo {
  padding-top: 1px;
  color: rgb(224, 244, 247);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.nav .logo h2 span {
  font-size: 150%;
  margin-right: 0px;
  color: var(--text-color);
  /* padding-bottom: 5px; */
}
.nav .mobile-menu {
  display: none;
}
.nav .mobile-menu .activate-cross,
.nav .mobile-menu .activate-mobileNavbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  .menu-link,
  .social-link {
    display: none;
  }
  .nav .mobile-menu {
    display: block;
    color: white;
    font-size: xxx-large;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav .mobile-menu .deactivate-hamburgerMenu {
    display: none;
    /* color: var(--icon-color); */
  }
  .nav .mobile-menu .hamburgerMenu {
    color: var(--icon-color);
  }
  .nav .mobile-menu .cross {
    /* background-color: rgb(255, 255, 255); */
    /* text-align:right; */
    /* align-items: end; */
    /* margin: 0px; */
    /* padding:0px 0px 0px 16px; */
    /* border: 1px solid black; */
  }
  .nav .mobile-menu .crossStyle {
    background-color: white;
    color: black;
    padding-top: 5px ;
    padding-bottom: 3px;
    margin-top: 0px;
    /* margin-bottom: 5px; */
    /* margin-bottom: 10rem; */
    position: fixed;
    top: -1px;
    right: 3px;
    width: 227px;
    /* height: 100%; */
    transition: left 0.5s ease;
  }
  .nav .mobile-menu .mobileMenuStyle {
    margin-top: 2rem;
    background-color: white;
    padding-top: 1rem;
    /* position: fixed;
    top: 1;
    right: -25%;
    width: 90%;
    height: 100%;
    transition: left 0.5s ease; */
  }
  .nav .mobile-menu .mobileMenuStyle li {
    font-size: 1.5rem;
    padding: 0.8rem 2rem 0rem 0rem;
    background-color: rgb(252, 254, 255);
    color: rgb(0, 0, 0);
    width: 15rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    /* border-width: 0px; */
    list-style: none;
  }
  .nav .showMenuPart{
    /* margin-top: 2rem; */
    background-color: white;
    position: fixed;
    top: 1;
    right: -25%;
    width: 90%;
    height: 100%;
    transition: left 0.5s ease;
  }
  .nav .hideMenuPart{
    display: none;
  }
  /* For Link use a for styling because here Link is used instead of a */
  .mobileMenuStyle a {
    background-color: white;
    text-decoration: none;
    /* text-align: center; */
    /* padding: 0px; */
  }
  /* link{
    background-color: white;
  } */
  /* .nav .menu-link .home{
    color: white;
  } */
}
@media only screen and (min-width: 768px) {
}
