.projectpage{
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url(../images/ptechnology-background.jpg);
    /* background-size: cover; */
    /* background-repeat: repeat-y; */
    min-height: 100vh;
}
.projectpage h1{
    padding-top: 3rem;
    font-variant:small-caps; /*This will captitalize and set the first letter to bigger*/
}
.projectpage .projectlist{
    padding: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url(../images/ptechnology-background.jpg);
    background-size: cover;
}
.projectpage input{
    border: none;
    padding: 5px 5px;
    width: 25%;
    height: 2rem;
    margin-top: 3rem;
}