.projectpage{
    text-align: center;
    padding: 0;
    margin: 0;
    /* background-image: url(../images/ptechnology-background.jpg); */
    /* background-size: cover; */
    /* background-repeat: repeat-y; */
    min-height: 100vh;
    background: linear-gradient(to right, var(--bg-color), var(--bg2-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.projectpage h1{
    padding-top: 3rem;
    font-variant:small-caps; /*This will captitalize and set the first letter to bigger*/
}
.projectpage .projectlist{
    padding: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background-image: url(../images/ptechnology-background.jpg); */
    background-size: cover;
}
.projectpage input{
    border: 1px solid #ccc;
    padding: 5px 5px;
    width: 25%;
    height: 2rem;
    margin-top: 3rem;
}
.projectlist{
    /* background: linear-gradient(to right, #000428, #004e92); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, var(--bg-color), var(--bg2-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}