*{
    margin: 0px;
    padding: 0px;
    /* background-color:rgb(7, 1, 34); */
    /* position: relative; */
}
.light-Mode{
    --bg-color:white;
    --main-h1-color:black;
    --text-color:black;
    --icon-color:black;
    --sub-heading-color:rgb(133, 38, 10);
    --footer-color:rgb(88, 85, 85);
    --secondary-bg-color:rgb(136, 195, 223);
}
.dark-Mode{
    --bg-color:#13112b;
    --main-h1-color:white;
    --text-color:white;
    --icon-color:white;
    --sub-heading-color:yellow;
    --footer-color:rgb(52, 34, 56);
    --secondary-bg-color:rgb(218, 153, 226);
}
h1,p,h2,h4{
    color: var(--main-h1-color);
}
div{
    background-color: var(--bg-color);
    /* background: linear-gradient(to bottom right, var(--bg-color) 45%, var(--sub-heading-color) 55%  ); */
}
body{
    background-color: var(--bg-color);
    /* margin: 5px; */
    /* background: linear-gradient(to bottom right, var(--bg-color) 45%, var(--sub-heading-color) 55%  ); */
}
#root{
    margin: 0px;
}