*{
    margin: 0px;
    padding: 0px;
    /* background-color:rgb(7, 1, 34); */
    /* position: relative; */
}
.light-Mode{
    --bg-color:white;
    --main-h1-color:black;
    --text-color:black;
    --icon-color:black;
}
.dark-Mode{
    --bg-color:#070122;
    --main-h1-color:white;
    --text-color:white;
    --icon-color:white;
}
h1,p,h2{
    color: var(--main-h1-color);
}
div{
    background-color: var(--bg-color);
}
body{
    background-color: var(--bg-color);
}